@charset "UTF-8";

header {
    background-color: #1c2040;
    color: white;
}

header h1 {
    display: inline-block;
    border-bottom: #009fe2 2px solid;
    margin-top: 0;
    padding-top: 20px;
}

#HglobalProductPopulate {
    margin-right: 20px;
}

.loggin {
    display: none;
}

#loggin2{
    display: none;
}

#modalSaveState div.modal-header{
    background-color: #3ac018;
}


#modalSaveStateFalse .modal-header{
    background-color: red;
}
header button {
    background-color: #009fe2;
    margin-left: 5px;
    color: white;
}

nav button {
    background-color: #009fe2;
    margin-top: 8px;
    color: white;
}

body button {
    background-color: #009fe2;
    color: white;
    border: solid 1px white;

}

body button.btn.btn-md:hover {
    background-color: white;
    color: #009fe2;
    border: solid 1px #009fe2;
}

#logName {
    display: inline-block;
}

#headerRight {
    display: flex;
    align-items: center;
    height: 71px;
}

#logo {
    display: inline-block;
    cursor: pointer;
}

.btn-classic {
    background-color: #009fe2;
    color: white;
}

.btn-classic:hover {
    background-color: #007ebf;
    color: white;
}

nav button:hover, header button:hover {
    background-color: white;
    color: #009fe2;
}

.colorBlue {
    color: #009fe2;
    font-size: 1.65em;
}

#buttonAddShop {
    margin-right: 10px;
}

#buttonAddProductERP {
    margin-left: 10px;
}

#buttonSaveState {
    margin-left: 20px;
}

.titulo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

nav {
    background-color: #1c2040;
    border-top: solid 1px white;
}

main {
    min-height: calc(100vh - 211px);
}

#mapPopulate{
    display: none;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c2040;
    color: white;
    height: 70px;
}

.panel-default > .panel-heading {

    background-color: #1c2040;
    color: white;
}

.panel-default {
    border: #555555 1px solid;
}

.panel-default:hover {
    box-shadow: 2px -2px 58px -11px rgba(0, 0, 0, 1);
}

.panel-default > .panel-body > .btn {
    margin-top: 10px;
}

.categoria .panel-footer {
    width: 100%;
}

.panel-default > .panel-footer > .btn {
    background-color: #1c2040;
    color: white;
}

.panel-default > .panel-footer > .btn:hover {

    background-color: white;
    border-color: #232f3e;
    color: #232f3e;
}

#nav1 {
    background-color: inherit;
    color: white;
    border: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#closeAllWindows {
    margin-right: 10px;
}

#buttonAccess2 {
    display: none;
    margin-right: 10px;
}

.navbar-brand {
    border-right: 1px solid white;

}

.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #009fe2;
}

.navbar-default .navbar-nav > li > a:hover {

    background-color: white;
    border-color: #232f3e;
    color: #232f3e;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: white;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #1c2040;

}

.navbar-nav > li > .dropdown-menu a {
    color: white;
}

.navbar-nav > li > .dropdown-menu a:hover {
    color: black;
}

.panel p {
    min-height: 40px;
}

.producto .panel-footer {
    border-top: white;
    background-color: white;
    height: 162px;
}

.categoria .panel-body {
    height: 200px;
}

.bold {
    font-weight: bold;
}

#shopPopulate img {
    max-height: 171.16px;
}

#globalProductPopulate img {
    max-height: 171.16px;
}

#globalProductPopulate .panel-footer {
    background-color: #1c2040;
    height: auto;
    color: white;
}

#globalProductPopulate .producto .panel-body {
    min-height: 410.16px;
    max-height: 410.16px;
    overflow: auto;

}

#myCarousel img {
    max-height: 379.16px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {

    display: inline;
}

#myCarousel {
    margin: auto;

}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}

footer span {
    color: #009fe2;
}

footer span:hover {
    color: white;
}

.modal-header {
    background-color: #009fe2;
    color: white;
}

#modalAccessSuccess .modal-header {
    background-color: #3ac018;
}

#modalAccessDenied .modal-header {
    background-color: #ff0000;
}

button:hover {
    background-color: #bfbfbf;
}

@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .navbar-toggle {
        float: none;
        margin-left: 10px;
    }

    #buttonAccess2 {
        display: inline-block;
    }
}
